$blue: #1F232E;
$white: #F4F4F4;
$opacity-white: rgba(244, 244, 244, 0.3);
$light-blue: #293F9A;
$gray: #2A2D38;
$blue-gradient: linear-gradient(90deg, #222B49 0%, #2A2D38 100%);
$blue2: #181F38;
$gray-no-active: #808080;
$black: #171A22;
$red: #E30A17;